
__pycache__/

aioble/

*.bin
*.bin0
*.bin1
*.bin2
*.bin3
*.bin*

etc/host/aiobmsble/

*.mpy

*.tamp

wifi-secret.json
ble_secrets.json

.DS_Store

etc/playground/

test_main.dist/


lib/**/
lib/*.py
mints_test

gauge.json
